#include<iosstream>
#include<sstream>
using namespace std;
void Mensaje(){
cout<<"Hola Mundo"<<endl;
}
int main(){
Mensaje();
system("pause");
return 0;
}
Viva saprissa
jajajajjajaa
<HTML>
</HTML>
nuevo
nuevo2.0
Hola Perras
Neceito que dejen de jugar y se pongan a trabajar jajajjaja
Welcome to Costa Rican 
welcome to paradise
